<h1> Doggo info </h1>

<h3> Name: <%= @dog.name %></h3>

<h3> Breed: <%= @dog.breed %></h3>

<h3> Age: <%= @dog.age %></h3>

<h3> Employees: </h3>
<ol>
    <% @dog.employees.each do |e| %>
     <li><%= e %> </li>
    <% end %>


</ol>

